.splash-container {

  &::part(scroll) {
    display: grid;
    place-items: center;
  }

  position: relative;
  height: 100%;
  --background: linear-gradient(to bottom, #C91C61, #944AB3);

}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.logoLoader{
  width: clamp(0rem, 66vw, 20rem);
  height: auto;
  animation: bounceLogo 0.7s cubic-bezier(0, 0.005, 0.32, 1.63) 1.2s forwards;
  transform: scale(0);

  view-transition-name: brand-logo;
}

@keyframes bounceLogo {
  0% { transform: scale(0) }
  100% { transform: scale(1.2) }
}