<div class="card-shell">
  <div class="card-screen">
    <section class="screen-content">
      
      <fieldset class="gender-fieldset">
        <legend>Selecciona el género</legend>
        <div class="radio-group">
          <label
            class="radio-option gender-option player-gender-male"
            [class.selected]="gender === 'male'"
            for="player-gender-male"
          >
            <input
              id="player-gender-male"
              type="radio"
              name="playerGender"
              value="male"
              [ngModel]="gender"
              (ngModelChange)="onGenderChange($event)"
            />
            <img src="assets/Iconos/male.svg" alt="" />
            <span class="option-label">Hombre</span>
          </label>
          <label
            class="radio-option gender-option player-gender-female"
            [class.selected]="gender === 'female'"
            for="player-gender-female"
          >
            <input
              id="player-gender-female"
              type="radio"
              name="playerGender"
              value="female"
              [ngModel]="gender"
              (ngModelChange)="onGenderChange($event)"
            />
            <img src="assets/Iconos/female.svg" alt="" />
            <span class="option-label">Mujer</span>
          </label>
        </div>
      </fieldset>

      <div class="avatar-selector">
        <button class="arrow-button left" >
          <div class="btnIcon">
            <img src="../../assets/Botones/btn-add-front.png" alt="arrow-left">
          </div></button>
        <rive-player 
        artboard="Alien" 
        stateMachine="AlienMachine" 
        [gender]="gender" 
        size="large"
        ></rive-player>
        <button class="arrow-button right" >
          <div class="btnIcon">
            <img src="../../assets/Botones/btn-add-front.png" alt="arrow-right">
          </div></button>
      </div>
     

      <input
        id="player-name"
        class="player-name-input"
        type="text"
        placeholder="Nombre del jugador"
        autocomplete="off"
        [(ngModel)]="playerName"
      />
      <fieldset class="gender-pref-fieldset">
        <legend>Quiero jugar con</legend>
        <div class="radio-group">
          <label
            class="radio-option pref-option preference-both"
            [class.selected]="genderPreference === 'both'"
            for="gender-preference-both"
          >
            <input
              id="gender-preference-both"
              type="radio"
              name="genderPreference"
              value="both"
              [(ngModel)]="genderPreference"
            />
            <img src="assets/Iconos/maleFemale.svg" alt="" />
            <span class="option-label">Ambos</span>
          </label>
          <label
            class="radio-option pref-option preference-female"
            [class.selected]="genderPreference === 'female'"
            for="gender-preference-female"
          >
            <input
              id="gender-preference-female"
              type="radio"
              name="genderPreference"
              value="female"
              [(ngModel)]="genderPreference"
            />
            <img src="assets/Iconos/female.svg" alt="" />
            <span class="option-label">Mujeres</span>
          </label>
          <label
            class="radio-option pref-option preference-male"
            [class.selected]="genderPreference === 'male'"
            for="gender-preference-male"
          >
            <input
              id="gender-preference-male"
              type="radio"
              name="genderPreference"
              value="male"
              [(ngModel)]="genderPreference"
            />
            <img src="assets/Iconos/male.svg" alt="" />
            <span class="option-label">Hombres</span>
          </label>
        </div>
      </fieldset>

      <button class="button-add" type="button" (click)="addPlayer()">
        Agregar jugador
      </button>
      <button class="button-cancel" type="button" (click)="closeModal()">
        Cancelar
      </button>
    </section>
  </div>
</div>
