.ion-content {
  --background: linear-gradient(to bottom, #C91C61, #944AB3);
}

.logoHome{
  view-transition-name: brand-logo;
}
#container {
  text-align: center;
}
#container .logo{
  width: 100%;
  padding: 30px 20px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  content: cover;
}
#container h1 {
  font-size: 46px;
  line-height: 26px;
  font-weight: 400;
  -webkit-text-stroke: 1.5px #40204D;
  color: #FFF;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.cards-grid{
  margin-top: 20px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 12px;

  .card{
    position: relative;
    background-color: #24242410;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 130px;
    padding: 5px;
  }
}

.btn-add-card{
  background-color: transparent;
  border: 1px dashed #FE8B38;
  border-style: dashed;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}


.btn-image{
  width: 42px;
  height: 46px;
}

.btn-remove-card{
  background-color:#FF465B;
  border: 1.5px solid #41091F;
  width: 21px;
  height: 21px;
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 50%;
}

.box-name{
  position: absolute;
  padding:3px;
  bottom: -12px;
  width: 80%;
  margin: 0 auto;
  background-color: #FD844D;
  border-radius: 8px 8px 18px 18px;
  text-align: center;

  &.male {
    background-color: #0091CF;
    border: 1.8px solid #002B3E;
   -webkit-text-stroke: 0.5px #002B3E;
    box-shadow:0 0px 0 #0b0b0b, inset 0 -4px 0 #0073A4;
  }
  &.female {
    background-color: #FF465B;
    border: 1.8px solid #6F1E27;
   -webkit-text-stroke: 0.5px #6F1E27;
    box-shadow:0 0px 0 #090909, inset 0 -4px 0 #D4394B;
  }
}


.btn-start{
  margin-top: 24px;
  padding: 3px 14px 4px;
  min-height: 32px;
  background: #FD844D;
  border: 2px solid #40204D;
  border-radius: 16px;
  color: #FFF;
  font-family: inherit;
  font-size: 36px;
  line-height: 1;
  -webkit-text-stroke: 1px #40204D;
  text-shadow: 1px 2px 0 #40204D;
  cursor: pointer;
}