
<ion-content [fullscreen]="true" class="ion-content">
  <div id="container">
    <div class="logo">
      <img src="../../assets/Logo.png" alt="Logo" class="logoHome"/>
    </div>
    <h1>¿Quiénes juegan hoy?</h1>
    <div class="cards-grid">
      <button class="btn-add-card" (click)="onAddCard()"><span><img src="../../assets/Botones/btn_add-front.png" alt="logo-add" class="btn-image" ></span></button>
      @for (player of players; track $index) {
        <div class="card">
          <button class="btn-sm btn-remove-card" (click)="onRemoveCard($index)"><span><img src="../../assets/Iconos/close.png" alt="btn-remove" class="" ></span></button>
          <span class="box-name male">{{ player }}</span>
        </div>
      }
    </div>
    @if(players.length > 1) {
      <button class="btn-start">¡Estamos Listos!</button>
    }
  </div>
</ion-content>
